* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  display: block;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #1b1b32;
  background-image: linear-gradient(
      110deg,
      rgba(71, 19, 168, 0.8),
      rgba(101, 90, 150, 0.7)
    ),
    url(../img/learning.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

ul {
  text-decoration: none;
}

li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.header {
  margin: 3rem;
  text-align: center;
  color: #fff;

  &__title {
    font-size: 3.5rem;
    padding: 0.5rem;
  }

  &__description {
    font-size: 2rem;
  }
}

.form {
  background: rgb(24, 31, 122);
  opacity: 0.8;
  max-width: 40%;
  margin: 0 auto;
  padding: 3rem;
  border-radius: 5px;

  &__label {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    color: #fff;
  }

  &__input {
    width: 100%;
    padding: 1rem;
    border: #333 1px solid;
    border-radius: 5px;
  }

  &__radio,
  &__check {
    margin-right: 1rem;
  }

  &__btn {
    background: #059111;
    color: #fff;
    font-size: 1.7rem;
    transition: all 0.2s;

    &:hover {
      background: #07610f;
    }
  }
}

.label {
  display: block;
}

.comments {
  min-height: 120px;
  width: 100%;
  padding: 0.6rem;
  resize: vertical;
}
